html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.post-card {
    transition: 0.3s ease-in-out;
}

.post-card:hover {
    transform: scale(1.05);
}

.card-content {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-span {
    font-size: 0.9rem;
    background-color: #eceeef;
    color:black;
}

.post-content {
    font-size: 1.25rem;
}

.read-more-btn {
    transition: 0.2s ease-in-out;
}

.read-more-btn:hover {
    background-color: #eceeef;
    color: black;
}

.comment-button {
    transition: 0.2s ease-in-out;
}

.comment-button:hover {
    background-color: #eceeef;
    color: black;
}

@media (min-width:768px)
{
    .written-by {
        font-size: 1.15rem;
    }
}

footer {
    color: #eceeef;
    background: linear-gradient(to top, transparent, gray);
}

.bi-search {
    color: white;
    font-size: 1.2rem;
}

.search-btn:hover {
    background-color: #eceeef;
}

.search-btn:hover > .bi-search {
    color: darkgray;
}

.home-index-header {
    height: 175px;
}

.navbar {
    background: linear-gradient(to bottom, transparent, gray);
}

@media (min-width:768px) {
    .navbar {
        height: 80px;
    }
}

img {
    max-width: 100%;
    height: auto;
}






